.apt_generated_tests
.apt_generated
.settings
.classpath
.gitignore
.project
.idea
.git
.metadata
.factorypath
.tern-project
.springBeans
.vscode
.history
target
AFC_log
bin
dist
temp
logs
node_modules
*.tgz
*.iml
*.ipr
dependency-reduced-pom.xml

